.App {
  --logo-width: 90px;
  --logo-height: 64px;
  --gap: var(--space-large);

  box-sizing: border-box;
  padding: var(--gap);
  padding-top: calc(var(--logo-height) + var(--space-base));
  margin: var(--gap);
  border: var(--border-cover);
}

.logo {
  width: var(--logo-width);
  height: auto;
  fill: var(--first);
  background: var(--white-full);
  background-image: var(--stripes-black);
  position: absolute;
  top: var(--space-base);
  right: calc(50% - ((var(--logo-width) + (var(--space-large)) * 2) / 2));
  padding: 0 var(--space-large);
}

.list {
  display: inline-flex;
  list-style: none;
  background: var(--white-full);
  background-image: var(--stripes-black);
  padding: 0 var(--gap);
}

._top {
  position: absolute;
  right: calc(var(--gap) * 2);
  top: 0;
}

._bottom {
  transform: translateY(calc(var(--gap) * 2));
}

.item {
  margin: 0 var(--space-base);
}

.icon {
  width: 24px;
  height: 24px;
  transition: var(--transition);
}

.item a:hover .icon {
  fill: var(--second);
}

@media screen and (max-width: 61.25em) {
  .App {
    --logo-width: 110px;
    --logo-height: 78px;
    --gap: calc(var(--space-large) * 0.5);

    padding-top: calc(var(--gap) / 2);
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .logo {
    position: relative;
    top: var(--gap);
    right: inherit;
  }

  .list {
    padding: 0;
    margin: 0;
    display: inline-flex;
    justify-content: center;
    width: 100%;
  }

  ._top {
    position: relative;
    right: inherit;
    left: inherit;
  }

  ._bottom {
    transform: translateY(calc(var(--gap) * 2));
  }

  .icon {
    width: 18px;
    height: 18px;
  }
}

@media print {
  .App {
    --logo-width: 160px;
    --logo-height: 114px;
    --gap: calc(var(--space-large) * 1.2);
    border: 0;
  }

  .logo {
    position: absolute;
    right: calc(var(--gap) * 2);
    top: calc(var(--gap) / 2);
  }

  .list {
    display: none;
  }
}
